body {
  margin: 0;
  background: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-anchor: none;

  background: linear-gradient(#85e2b6, #e6d89a);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#error {
  max-width: 1280px;
  margin: 2em auto;
  padding: 2em;
  background: #ff9487;
  border-radius: 0.5em;
  box-shadow: 0px 5px 10px 0px rgba(20, 1, 61, 0.5);
  font-family: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 14px;

  &:empty {
    display: none;
  }
}

#app {
  max-width: 1280px;
  margin: 2em auto;
  padding: 0 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1em;
  
  h1 {
    display: contents;
  }

  a {
    color: black;
  }

  span + span {
    margin-left: auto;
  }
}

.clear-filter {
  padding: 1em;
}

.install-instructions {
  margin: 0;
  overflow: auto;

  a {
    color: blue;
  }
}

.example {
  display: grid; 
  grid-template-columns: 3fr 2fr; 
  gap: 1em;

  border-radius: 0.5em;
  padding: 1em;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(20, 1, 61, 0.5);
}

.example--heading {
  margin: 0;
  min-width: 0;
  overflow-wrap: break-word;

  a {
    color: blue;
  }
}

.example--code {
  min-width: 0;
  margin: 0;

  code {
    font-family: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 14px;
    padding: 0 !important;
  }
}

.example--live {
  grid-column: 2;
  grid-row: 1 / span 2;
  min-width: 0;

  border: 1px dashed lightgray;
  border-radius: 0.5em;
  padding: 1em;
  overflow: auto;
}


@media (max-width: 800px) {
  .example {
    grid-template-columns: 1fr;
  }

  .example--live {
    grid-column: 1;
    grid-row: auto;
  }
}
